<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>estore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.briup.estore.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/exit</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.briup.estore.web.lisenter.IndexLisenter</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.briup.estore.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/after/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddCarServlet</display-name>
    <servlet-name>AddCarServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.AddCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCarServlet</servlet-name>
    <url-pattern>/after/addCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmServlet</display-name>
    <servlet-name>ConfirmServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmServlet</servlet-name>
    <url-pattern>/after/confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/after/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
</web-app>